:root {
  --cadet: rgb(105, 189, 192);
  --blue: rgb(108, 224, 228);
  --bluegreen: rgb(47, 255, 150);
  --yellow: rgb(244, 210, 72);
  --orange: rgb(234, 150, 47);
  --red: rgb(242, 102, 77);
  --pink: rgb(244, 27, 244);
  --backgroundColor: rgb(36, 36, 36);
  --lighterBackground: rgb(43, 43, 43);
  --evenLighterBackground: rgb(53, 53, 53);
  --fontSize: 24px;
  --H1fontSize: 40px;
  --H2fontSize: 36px;
  --H3fontSize: 30px;
  --H4fontSize: 28px;
  --H5fontSize: 26px;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html,
body {
  background-color: var(--backgroundColor);
  margin: 0;
  padding: 0;
  color: white;
  font-family: sans-serif;
  height: 100%;
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

h1 {
  font-size: 5.5vh;
  text-align: center;
  margin: 5vh;
  color: var(--blue);
  text-decoration: underline;
}

p {
  font-size: 3vh;
  max-width: 70%;
  margin: auto;
}

button {
  font-size: 3vh;
  padding: 1vh;
  color: #e5c53e;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.1);
  border: solid 2px #e5c53e;
  border-radius: 1vh;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

button:active {
  background-color: rgba(255, 255, 255, 0.5);
}

#ribbon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: var(--evenLighterBackground);
  margin: 0;
  z-index: 9;
  cursor: pointer;
}

.windowButton {
  width: 16px;
  height: 16px;
  padding: 0;
  border: none;
  position: relative;
  top: 50%;
  margin-left: 10px;
  transform: translateY(-50%);
}

#sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  margin: 0;
  background-color: var(--lighterBackground);
  padding: 0% 2% 0% 2%;
  z-index: 1;
  padding-left: 5vh;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

#sidebar.animate {
  animation: slideIn 0.4s ease-out forwards;
}

.sidebarButton {
  position: absolute;
  top: 6vh;
  left: 2vh;
  width: 7vh;
  aspect-ratio: 1;
  z-index: 100;
  border-color: var(--bluegreen);
  backdrop-filter: blur(5px);
}

.buttonLine {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 0.5vh;
  background-color: rgba(255, 255, 255, 0.75);
  border: none;
  border-radius: 1vh;
}

#documentBody {
  background-color: var(--backgroundColor);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  margin: 0;
  text-align: center;
  overflow-y: hidden;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

input,
select {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 3vh;
  border: solid 2px white;
  border-radius: 1vh;
  padding: 1vh;
}

option {
  background-color: white;
  color: black;
  border: solid 1px black;
  border-radius: 1vh;
}

#displayContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 10vh;
  margin: auto;
  width: 95%;
}

.displayTile {
  margin: auto;
  width: 75%;
  cursor: pointer;
  border-radius: 2vh;
  padding: 2vh;
  transition: background-color 0.2s ease;
}

.displayTile:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.toggle {
  min-width: 10vh;
}

.componentContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50vh;
  aspect-ratio: 1;
}

.faceplate {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  height: 50vh;
  aspect-ratio: 0.66;
  background-color: #e6c489;
  border: none;
  border-radius: 16px;
}

canvas {
  width: 79%;
  aspect-ratio: 1;
  background-color: #dfdbd4;
  border: inset 5px #816c47;
  border-radius: 8px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.speaker {
  position: absolute;
  bottom: 12%;
  left: 9.5%;
  width: 35.9%;
  height: 13%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 20% auto auto auto 20%;
  gap: 7%;
  border-radius: 8px;
  overflow: hidden;
}

.line {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.floppyDrive {
  position: absolute;
  width: 27%;
  height: 9%;
  right: 11%;
  bottom: 13.7%;
}

.hole {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  width: 100%;
  height: 35%;
  background-color: rgba(0, 0, 0, 0.9);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.gripTop,
.gripBottom {
  position: absolute;
  right: 0%;
  height: 33%;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}

.gripTop {
  top: 0%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
}

.gripBottom {
  bottom: 0%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
}

.buttonPanel {
  background-color: #e6c489;
  width: 6vh;
  height: 50%;
  position: absolute;
  top: 50%;
  right: 3vh;
  transform: translateY(-50%);
  border-radius: 5px;
}

.sideButtonContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 60%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  gap: 10%;
}

.sideButton {
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  aspect-ratio: 1;
  border: solid 1px black;
  border-radius: 5px;
}
